{% extends 'HealthKit/nav.html' %}

{% block content %}</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="#" class="w3-bar-item w3-button w3-blue w3-mobile"></i>Knowledge Basic Demos</a>
</div>

<!-- Page content -->
<h2>First Aid</h2>
<iframe src="FIRST_AID_CPR_AED_05_Bleeding and Wound Care.mp4" poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYtXCc9pGQXC2o5jynwd87LjJEswtF9Zhx7JyRZI04yVPxPPtM" width="1500" height="800" controls>
</iframe >
<h2>Heart Attack</h2>
<video src="FIRST_AID_CPR_AED_11A_Sudden Illness - Heart Attack and Chest Pain.mp4" poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScOwgnw6FH5Uj5el7YlQR9icZuxhr17X5nq-FMJjf2kfx_s_Ke" width="1500" height="800"controls>
</video>
<h2>Burns</h2>
<video src="FIRST_AID_CPR_AED_07_Burns.mp4" poster="https://www.msdmanuals.com//-/media/manual/professional/images/412_burns_slide_4_springer_high.jpg?la=en&thn=0" width="1500" height="800" controls>
</video>
<h2>Diabetic Emergency</h2>
<video src="FIRST_AID_CPR_AED_11D_Sudden Illness - Diabetic Emergency.mp4" poster="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.emergencycareforyou.org%2Fglobalassets%2Fecy%2Fmedia%2Fblog-images%2Fdiabetes.jpg&imgrefurl=http%3A%2F%2Fwww.emergencycareforyou.org%2Femergency-101%2Fdiabetic-emergencies%2F&docid=7ywhb4cycc85vM&tbnid=SYxkd2XNW0wSeM%3A&vet=10ahUKEwjagdHB45_jAhXXeisKHXAFBtoQMwhPKAEwAQ..i&w=220&h=220&client=ubuntu&bih=630&biw=1299&q=diabetic%20emergency&ved=0ahUKEwjagdHB45_jAhXXeisKHXAFBtoQMwhPKAEwAQ&iact=mrc&uact=8" width="1500" height="800"
controls>
</video>


</body>
{%endblock%}